<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments :: head">
</head>
<body>
<div th:replace="fragments :: header"></div>
<div class="content">
    <h1 class="text-center">TOP3 OFERTY!!!</h1>

    <div style="text-align: center">
        <a th:href="@{/form}">Dodaj mecz</a>

        <a th:href="@{/list}">Wyświetl mecze do obstawienia</a>

        <a th:href="@{/archive}">Wyświetl zakończone mecze</a>

        <a th:href="@{/bets}">Wyświetl kupony</a>
    </div>

    <br><br>

    <div th:if="${matches}">
    <ol>
        <li th:each="match : ${matches}" style="text-align: center; font-size: 25px;">
            <a th:href="@{'/match/' + ${match.id} + '/bet'}">
                <span th:text="${match.homeTeam.name} + ' vs ' + ${match.awayTeam.name}"></span>
            </a>
        </li>
    </ol>
    </div>

</div>
</body>
</html>